
.divClass h1{
    color: rgb(160, 59, 28);
}
#thirdDiv{
    height:700px ; 
    width:500px ;
    background: rgb(165, 165, 11);
    border: 50px;
    padding: 50px;
}
img{
    width:400px;
}
#spanId{
font-size: 18px;
border: 50px;  
}